<div class="modal-header">
	<h5 class="panel-title">Create Company</h5>
	<p class="mt-5">Create a company to connect with your professional network</p>
</div>
<form novalidate>
	<div class="modal-body no-padding-top" ng-form="createCompany">
		<div class="form-horizontal pl-10 pr-10 no-margin">
			<div class="form-group">
				<div class="row">
					<div class="col-sm-12">
						<label>Enter Company Name</label>
						<input type="text" ng-model="vm.companyName" placeholder="Google Inc." class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="submit" ng-click="vm.submit()">Submit
        </button>
		<button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
	</div>
</form>