<div class="modal-header">
	<h5 class="panel-title">Add Users to <strong>{{vm.positionName}}</strong></h5>
	<p>Assign users to the position</p>
</div>
<form novalidate>
	<div class="modal-body no-padding-top" ng-form="myForm">
		<div class="form-horizontal pl-10 pr-10 no-margin">
			<div class="form-group">
				<div class="row">
					<div class="col-sm-6">
						<label>User Name</label>
						<tags-input ng-model="vm.selectedUser"
                                    display-property="name"
                                    on-tag-adding="vm.addUserToPosition($tag)"
                                    on-tag-removed="vm.errorRemoved($tag)"
                                    placeholder="+ Type here to add more users"
                                    add-from-autocomplete-only="true"
                                    replace-spaces-with-dashes="false">
                        <auto-complete source="vm.companyEmployeesList($query)"
                                    min-length="0"
                                    max-results-to-show="10"
                                    debounce-delay="250"></auto-complete>
                      </tags-input>
					</div>
					<!--<div class="col-md-12">
						<label>Type name to search over the lollibond</label>
						<form class="navbar-form navbar-left" novalidate ng-submit="vm.searchUser(vm.appDataFlowService.searchQuery)">
							<div class="form-group">
								<div class="input-group full-width">
									<div class="has-feedback has-feedback-left">
										<input type="search" placeholder="Search for user" ng-model="vm.appDataFlowService.searchQuery" uib-typeahead="user.name as user.name for user in vm.getUsers($viewValue)"
											typeahead-on-select="vm.redirectToUser($item)" typeahead-wait-ms="500" typeahead-popup-template-url="app/shared/main-header/advance-search-template.html"
											class="form-control no-background">
										<div class="form-control-feedback icon-right" ng-click="::vm.searchUser(vm.appDataFlowService.searchQuery)">
											<i class="icon-search4 text-muted text-size-base"></i>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>-->
				</div>
			</div>
		</div>
		<div class="table-responsive">
			<h4>Assigned Users</h4>
			<table class="table table-striped">
				<tbody>
					<tr ng-repeat="users in vm.positionUsers">
						<td>{{users.name}}</td>
						<td class="text-right"><a href="javascript:;" ng-click="vm.moveUser($index, 'lg')"><i class="icon-redo2"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!--<div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="vm.modalSubmit()" ng-disabled="myForm.$invalid"> Save
        </button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>-->
</form>