{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "rules": {
    "angular/log": 0
  },
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true,
    "google": true,
    "Keycloak": true,
    "YT": true,
    "$": true,
    "Croppie": true,
    "io": true
  }
}
