<div class="customized">
  <div class="panel panel-white" id="WorkExperience">
    <div class="panel-heading lb-panel--cover" style="background: url('./assets/images/dummy/covers/experience.jpg') no-repeat top center / cover;">
      <h4 class="panel-title"><i class="icon-briefcase position-left"></i> Experience</h4>

    </div>
    <div class="panel-body border-top-danger">
      <div ng-init="fields = vm.copyFields(vm.fields)">
        <div class="lb-panel--view" ng-repeat="exp in vm.content track by $index">
          <div ng-if="!exp.isEditable">
            <div class="panel-heading no-padding">
              <div class="lb-panel--description">
                <h5 class="panel-title">
                  <span class="main-title text-semibold">{{exp.data.title}}</span>
                  <span class="issued" ng-if="exp.data.companyName">at: {{exp.data.companyName}}</span>
                  <!-- <div class="pull-right">
                    <privacy-dropdown current-selected="awr.currentSelectedPrivacy"></privacy-dropdown>
                  </div> -->
                </h5>
              </div>
              <div class="lb-panel--actions">
                <a ng-if="vm.profileService.ownProfile" ng-click="vm.editForm(exp)">
                  <i class="mr-5 icon-pencil"></i>
                </a>
                <a href="javascript:;" ng-click="isCollapsed = !isCollapsed">
                  <i class="icon-arrow-down32 ml-5"></i>
                </a>
              </div>
            </div>
            <div class="list-padding" uib-collapse="!isCollapsed">
              <ul class="list-condensed list-unstyled">
                <li ng-if="exp.data.fromDate">
                  <span class="text-semibold">Duration: </span> {{exp.data.fromDate | date:"MMM/yyyy"}} –
                {{ (exp.data.toDate) ? exp.data.toDate : 'present' | date:"MMM - yyyy"}}
                </li>
                <li ng-if="exp.data.location">
                  <span class="text-semibold">Location: </span> {{exp.data.location}}
                </li>
                <li ng-if="exp.data.duties ">
                  <span class="text-semibold">Duties: </span> {{exp.data.duties}}
                </li>
                <li ng-if="exp.data.achievements ">
                  <span class="text-semibold">Achievements: </span> {{exp.data.achievements}}
                </li>
                <li ng-if="exp.data.description ">
                  <span class="text-semibold">Description: </span> {{exp.data.description}}
                </li>
              </ul>
            </div>
          </div>
          <div class="panel-body no-padding row pb-15" ng-if="exp.isEditable">
            <form ng-submit="vm.onSubmit(exp)" name="form" novalidate>
              <formly-form model="exp.data" fields="fields" form="form">
              </formly-form>
              <div class="text-right col-md-12 mt-10">
                <button type="button" class="btn btn-danger text-white btn-xs" ng-click="vm.deleteWorkExperience($index)">
                  Remove this WorkExperience
                </button>
                <button ng-click="vm.updateWorkExperience($index)" class="btn btn-primary btn-xs submit-button">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer" ng-if="vm.profileService.ownProfile">
    	<button type="button" ng-click="vm.addWorkExperienceModel()" ng-disabled="vm.addInProcess" class="btn bg-primary pull-right btn-xs heading-btn">Add Another </button>
		</div>
  </div>
</div>
