<div class="customized">
  <div class="panel panel-white" id="publication">
    <div class="panel-heading lb-panel--cover" style="background: url('./assets/images/dummy/covers/college.jpg') no-repeat top center / cover;">
      <h4 class="panel-title"><i class="icon-book position-left"></i> Publication</h4>
    </div>
    <div class="panel-body border-top-danger">
      <div ng-init="fields = vm.copyFields(vm.fields)">
        <div class="lb-panel--view" ng-repeat="pub in vm.content track by $index">
          <div ng-if="!pub.isEditable">
            <div class="panel-heading no-padding">
              <div class="lb-panel--description">
                <h5 class="panel-title">
                  <span class="main-title text-semibold">{{pub.data.publisher}}</span>
                  <!-- <div class="pull-right">
                    <privacy-dropdown current-selected="awr.currentSelectedPrivacy"></privacy-dropdown>
                  </div> -->
                </h5>
              </div>
              <div class="lb-panel--actions">
                <a ng-if="vm.profileService.ownProfile" ng-click="vm.editForm(pub)">
                  <i class=" mr-5 icon-pencil"></i>
                </a>
                <a href="javascript:;" ng-click="isCollapsed = !isCollapsed">
                  <i class="icon-arrow-down32 ml-5"></i>
                </a>
              </div>
            </div>
            <div class="list-padding no-padding" uib-collapse="!isCollapsed">
              <ul class="list-condensed list-unstyled">
                <li ng-if="pub.data.fromDate">
                  <span class="text-semibold">External Authors: </span> {{pub.data.externalAuthors}}
                </li>
                <li ng-if="pub.data.internalAuthors">
                  <span class="text-semibold">Internal Authors: </span> {{pub.data.internalAuthors}}
                </li>
                <li ng-if="pub.data.publicationDate ">
                  <span class="text-semibold">Publication Date: </span> {{pub.data.publicationDate | date:"MMM/yyyy"}}
                </li>
                <li ng-if="pub.data.publisher ">
                  <span class="text-semibold">Publisher: </span> {{pub.data.publisher}}
                </li>
                <li ng-if="pub.data.url ">
                  <span class="text-semibold">URL: </span> {{pub.data.url}}
                </li>
                <li ng-if="pub.data.description ">
                  <span class="text-semibold">Description: </span> {{pub.data.description}}
                </li>
              </ul>
            </div>
          </div>
          <div class="panel-body no-padding row pb-15" ng-if="pub.isEditable">
            <form ng-submit="vm.onSubmit(pub)" name="form" novalidate>
              <formly-form model="pub.data" fields="fields" form="form">
              </formly-form>
              <div class="text-right col-md-12 mt-10">
                <button type="button" class="btn btn-danger text-white btn-xs" ng-click="vm.deletePublication($index)">
                  Remove this Publication
                </button>
                <button ng-click="vm.updatePublication($index)" class="btn btn-primary btn-xs submit-button">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer" ng-if="vm.profileService.ownProfile">
      <button type="button" ng-click="vm.addPublicationModel()" ng-disabled="vm.addInProcess" class="btn bg-primary pull-right btn-xs heading-btn">Add Another </button>
    </div>
  </div>
</div>
