<div class="navbar navbar-inverse navbar-fixed-top  no-border">
  <div class="container">
    <div class="col-md-4">
      <div class="navbar-header no-margin">
        <a class="navbar-brand" href="index.html">
          <img src="assets/images/lb/logo.png" alt="">
        </a>
        <ul class="nav navbar-nav ">
          <li>
            <a ui-sref-active="active" ui-sref="personal.profile.posts">
              <i class="icon-users4"></i>
            </a>
          </li>
          <li uib-dropdown auto-close="outsideClick">
              <a href="javascript:;" id="epsn-switcher" uib-dropdown-toggle>
                <i class="icon-office"></i>
              </a>

              <div class="dropdown-content" uib-dropdown-menu role="menu" aria-labelledby="epsn-switcher">
                <div class="dropdown-content-heading">
                  EPSN Switcher
                  <ul class="icons-list">
                    <li><a href="#"><i class="icon-sync"></i></a></li>
                  </ul>
                </div>

                <ul class="media-list dropdown-content-body width-350">
                  <li class="media">
                    <a ui-sref="corporate.profile" class="media-left"><img src="assets/images/brands/bond.jpeg" class="img-sm img-circle" alt=""></a>
                    <div class="media-body">
                      <a ui-sref="corporate.profile" class="media-heading text-semibold">Bond Internet Consultancy</a>
                      <span class="text-size-mini text-muted display-block">Dubai, UAE.</span>
                    </div>
                    <div class="media-right media-middle">
                      <span class="badge bg-green">4</span>
                    </div>
                  </li>
                  <li class="media">
                    <a ui-sref="corporate.profile" class="media-left"><img src="assets/images/brands/systems.jpeg" class="img-sm img-circle" alt=""></a>
                    <div class="media-body">
                      <a ui-sref="corporate.profile" class="media-heading text-semibold">Systems Limited</a>
                      <span class="text-size-mini text-muted display-block">Karachi, Pakistan</span>
                    </div>
                    <div class="media-right media-middle">
                      <span class="badge bg-green">4</span>
                    </div>
                  </li>
                </ul>

                <div class="dropdown-content-footer">
                  <a href="#" data-popup="tooltip" title="All activity"><i class="icon-menu display-block"></i></a>
                </div>
              </div>
          </li>
          <li>
            <a href="javascript:;">
              <i class="icon-library2"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-8 no-padding">
      <div class="navbar-collapse collapse" id="navbar-mobile">
        <div class="col-lg-6">
          <form class="navbar-form navbar-left">
            <div class="form-group">

              <div class="input-group">
                <div class="input-group-btn" uib-dropdown>
                  <button type="button" id="searchTypeBtn" class="btn  btn-default no-background" uib-dropdown-toggle>
                    <i class="icon-menu7">&nbsp;</i>
                  </button>
                  <ul uib-dropdown-menu aria-labelledby="searchTypeBtn">
                    <li>
                      <a href="#">
                        <i class="icon-users"></i>
                        People
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-office"></i>
                        Companies
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-library2"></i>
                        Acadamia
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-briefcase"></i>
                        Jobs
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-magazine"></i>
                        Posts
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="icon-help"></i>
                        Help Center
                      </a>
                    </li>

                  </ul>
                </div>
                <div class="has-feedback has-feedback-left">
                    <div class="form-control-feedback">
                      <i class="icon-search4 text-muted text-size-base"></i>
                    </div>
                    <input type="search" class="form-control text-white no-background" placeholder="Search field">
                  </div>
              </div>
            </div>
          </form>
        </div>

        <div class="col-lg-6 no-padding">

          <ul class="nav navbar-nav navbar-right">
            <language-select></language-select>

            <bond-requests ng-if="vm.authService.user"></bond-requests>


            <li ng-if="vm.authService.user" uib-dropdown auto-close="outsideClick">
              <a href="javascript:;" id="request-btn" uib-dropdown-toggle>
                <i class=" icon-bell2"></i>
                <span class="visible-xs-inline-block position-right">Notification</span>
                <span class="badge bg-warning-400">9</span>
              </a>

              <div class="dropdown-content" uib-dropdown-menu role="menu" aria-labelledby="request-btn">
                <div class="dropdown-content-heading">
                  Notifications
                  <ul class="icons-list">
                    <li><a href="#"><i class="icon-sync"></i></a></li>
                  </ul>
                </div>

                <ul class="media-list dropdown-content-body width-350">


                  <li class="media">
                    <div class="media-left">
                      <a href="javascript:;">
                         <img src="assets/images/dummy/users/face10.jpg" class="img-circle img-sm" alt="">
                      </a>
                    </div>

                    <div class="media-body">
                      <a href="javascript:;">Umar Mehmood </a> and 6 people likes your
                      <a href="javascript:;">
                        post
                      </a>
                      <div class="media-annotation">12 minutes ago</div>
                    </div>
                  </li>

                  <li class="media">
                    <div class="media-left">
                      <a href="javascript:;">
                         <img src="assets/images/dummy/users/face1.jpg" class="img-circle img-sm" alt="">
                      </a>
                    </div>

                    <div class="media-body">
                      <a href="javascript:;">Raza Zaidi</a> commented on
                      <a href="javascript:;">Waqar Ali's</a>
                      <a href="javascript:;">
                        post
                      </a>
                      <div class="media-annotation">36 minutes ago</div>
                    </div>
                  </li>
                  <li class="media">
                    <div class="media-left">
                      <a href="javascript:;">
                         <img src="assets/images/dummy/users/face3.jpg" class="img-circle img-sm" alt="">
                      </a>
                    </div>

                    <div class="media-body">
                      <a href="javascript:;">Ahmer Saeed </a> commented on your
                      <a href="javascript:;">
                        post
                      </a>
                      <div class="media-annotation">1 hour ago</div>
                    </div>
                  </li>
                  <li class="media">
                    <div class="media-left">
                      <a href="javascript:;">
                         <img src="assets/images/dummy/users/face10.jpg" class="img-circle img-sm" alt="">
                      </a>
                    </div>

                    <div class="media-body">
                      <a href="javascript:;">Umar Mehmood </a> and 6 people likes your
                      <a href="javascript:;">
                        post
                      </a>
                      <div class="media-annotation">12 minutes ago</div>
                    </div>
                  </li>

                  <li class="media">
                    <div class="media-left">
                      <a href="javascript:;">
                         <img src="assets/images/dummy/users/face1.jpg" class="img-circle img-sm" alt="">
                      </a>
                    </div>

                    <div class="media-body">
                      <a href="javascript:;">Raza Zaidi</a> commented on
                      <a href="javascript:;">Waqar Ali's</a>
                      <a href="javascript:;">
                        post
                      </a>
                      <div class="media-annotation">36 minutes ago</div>
                    </div>
                  </li>
                  <li class="media">
                    <div class="media-left">
                      <a href="javascript:;">
                         <img src="assets/images/dummy/users/face3.jpg" class="img-circle img-sm" alt="">
                      </a>
                    </div>

                    <div class="media-body">
                      <a href="javascript:;">Ahmer Saeed </a> commented on your
                      <a href="javascript:;">
                        post
                      </a>
                      <div class="media-annotation">1 hour ago</div>
                    </div>
                  </li>

                  <li class="media">
                    <div class="media-left">
                      <a href="javascript:;">
                         <img src="assets/images/dummy/users/face12.jpg" class="img-circle img-sm" alt="">
                      </a>
                    </div>

                    <div class="media-body">
                      <a href="javascript:;">Raza Zaidi</a> posted on your
                      <a href="javascript:;">
                        timeline
                      </a>
                      <div class="media-annotation">3 hours ago</div>
                    </div>
                  </li>
                </ul>

                <div class="dropdown-content-footer">
                  <a href="#" data-popup="tooltip" title="All activity"><i class="icon-menu display-block"></i></a>
                </div>
              </div>
            </li>

            <li ng-if="vm.authService.user" class="dropdown-user" uib-dropdown>
              <a uib-dropdown-toggle id="user-profile-btn">
                <img src="assets/images/placeholder.jpg" alt="">
                <span>{{vm.authService.user.firstName}}</span>
                <i class="caret"></i>
              </a>

              <ul class="dropdown-menu-right"  uib-dropdown-menu role="menu" aria-labelledby="user-profile-btn">
                <li ui-sref="personal.profile.posts({ uid: vm.authService.UID })"><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
                <li><a href="#"><i class="icon-coins"></i> My balance</a></li>
                <li><a href="#"><span class="badge bg-teal-400 pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
                <li ng-click="::vm.logout()"><a href="#"><i class="icon-switch2" ></i> Logout</a></li>
              </ul>
            </li>

            <li ng-if="!vm.authService.user">
              <a ng-click="vm.login()" class="btn">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
