<div class="customized">
  <div class="panel panel-white" id="language">
    <div class="panel-heading lb-panel--cover" style="background-image: url('./assets/images/dummy/covers/language.jpg')">
      <h4 class="panel-title"><i class="icon-earth position-left"></i> Languages</h4>
    </div>
    <div class="panel-body no-padding border-top-danger" ng-if="vm.hasdata">
      <div ng-init="fields = vm.copyFields(vm.fields)">
        <div class="no-padding-right" ng-repeat="lang in vm.content | orderBy: vm.orderBy">
          <div ng-if="!lang.isEditable">
            <div class="panel-heading border-bottom">
              <div class="col-md-4 col-sm-3 col-xs-12">
                <h5 class="panel-title">
                  <span class="main-title text-semibold">{{vm.langObj[lang.language]}}</span>
                </h5>
              </div>
              <div class="col-md-7 col-sm-8 col-xs-10">
                <div class="progress" tooltip-placement="top" uib-tooltip="{{vm.langArr[lang.rate]}}">
                  <div class="progress-bar bg-teal" ng-style="{width: (lang.rate /5) * 100 + '%'}">
                    <span tooltip-placement="top" uib-tooltip="">{{lang.rate}}</span>
                  </div>
                </div>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-2 text-right">
                <a ng-if="vm.profileService.ownProfile && !vm.disabledAddMode"  ng-click="vm.editForm(lang)">
                  <i class=" mr-5 icon-pencil"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="panel-body" ng-if="lang.isEditable">
            <form ng-submit="vm.onSubmit(lang)" name="vm.form" novalidate lb-util-confirm-on-exit form-state="vm.form">
              <formly-form model="lang" fields="vm.fields" options="vm.options" form="vm.form">
              </formly-form>
              <div class="text-right">
                <span class=" bg-primary text-highlight ng-binding">
                  {{vm.langArr[lang.rate]}}
                </span>
              </div>
              <div class="text-right col-md-12 mt-10">
                <button type="button" class="btn btn-danger text-white btn-xs" ng-really-message="Are you sure you want to delete?" lb-util-confirm-modal confirm-action="vm.deleteLanguage($index)" ng-if="!lang.addInProcess">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
                <button ng-click="vm.updateLanguage($index)" class="btn btn-primary btn-xs submit-button" type="submit">
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button ng-click="vm.reset($index)" class="btn btn-primary btn-xs submit-button">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body lb-panel--placeholder border-top-danger" ng-if="!vm.hasdata">
      <i class="icon-earth"></i> <span>Add Language</span>
    </div>
    <div class="panel-footer" ng-if="vm.profileService.ownProfile" >
      <button type="button" ng-click="vm.addLanguageModel()" ng-disabled="vm.disabledAddMode" class="btn bg-primary pull-right btn-xs heading-btn">Add</button>
    </div>
  </div>
</div>

