<div class="panel panel-white timeline-content">
  <div class="panel-heading">
    <div class="media">
      <div class="media-left">
        <a href="#"><img ng-src="{{::vm.postData.author.profilePicture || 'assets/images/placeholder.jpg'}}" class="img-circle" alt=""></a>
      </div>

      <div class="media-body">
        <h6 class="media-heading text-semibold">
          <a ui-sref="personal.profile.posts({ uid: vm.postData.author.id })" class="text-warning">{{::vm.postData.author.firstName}} {{::vm.postData.author.lastName}}</a>
          <!-- <span class="media-annotation dotted">{{vm.postData.postType | translate}}</span> -->
          <div class="pull-right">
            <action-dropdown post-data="::vm.postData"></action-dropdown>
          </div>
        </h6>
        <div class="media-annotation" title="{{::vm.postData.timestamp | date:'medium'}}">{{::vm.getTimestamp(vm.postData.timestamp)}}</div>
        <span class="label label-primary"></span>
      </div>
    </div>
  </div>

  <div class="panel panel-white no-border no-margin-bottom">
    <div class="panel-body">
      <div>{{::vm.postData.text}}</div>
      <!-- For images inside posts -->
      <div ng-if="vm.postData.postImage">
        <div ng-repeat="postImage in ::vm.postData.postImage" class="thumbnail pull-left no-margin">
          <div class="thumb" ng-click="::vm.showModal($index)">
            <img class="media-preview" ng-src="{{::postImage}}">
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer panel-footer-transparent">
      <div class="heading-elements">
        <ul class="list-inline list-inline-separate heading-text">
          <li><a ng-click="::vm.acePost()"><i class="icon-thumbs-up2 "></i> {{vm.postAced ? 'Aced' : 'Ace'}} ({{vm.postData.aceCount || 0}})</li>
          <li><a ng-click="::vm.showComments()"><i class="icon-comment-discussion position-left"></i> Comment ({{vm.postData.commentCount || 0}})</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel-body post-comments-area" ng-if="vm.postComments.length > 0">
    <!-- Comments -->
    <ul class="media-list stack-media-on-mobile">
      <button class="btn btn-link no-padding" ng-click="vm.loadMore()">Load previous comments</button>
      <user-comment class="media show" ng-repeat="comment in vm.postComments.slice().reverse()" comment-data="comment" post-id="{{vm.postData.post.id}}"></user-comment>
    </ul>
    <!-- /comments -->
  </div>

  <!-- Add comment form -->
  <div class="panel-body" ng-if="vm.profileService.isBonded || vm.profileService.ownProfile">
    <form ng-submit="::vm.addComment()" name="formPostComment">
      <div class="input-group">
          <input type="text" class="form-control" ng-model="vm.userComment" placeholder="Your Comment" required>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" ng-disabled="formPostComment.$invalid"><i class="icon-paperplane"></i></button>
          </span>
      </div>
    </form>
  </div>
</div>
