<div>
  <div class="col-md-3">
    <div class="nav-tabs-vertical ">
      <ul class="nav  nav-tabs nav-pills panel no-border">
        <li ng-repeat="tab in vm.networkTabs" ng-if="tab.visible" class=" border-bottom" ng-class="{'active': vm.activeTab === $index}">
          <a class="no-margin-left" href="javascript:;" ng-click="::tab.action()">{{::tab.label}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <!-- Collapsible list -->
    <div class="panel panel-flat">
      <div class="panel-heading">
        <div ng-show="vm.postsLoading" class="text-center">
          <i class="icon-spinner2 spinner"></i>
          Loading ...
        </div>
        <h5 class="panel-title display-inline-block">{{vm.userList.type}}</h5>
        <div class="display-inline-block" ng-if="vm.userList.type == 'All Contacts'">
          <ul class="icons-list text-nowrap" ng-if="vm.profileService.ownProfile">
            <li>
              <div class="btn-group" uib-dropdown is-open="vm.bondTypeDropdown.isopen" auto-close="outsideClick" on-toggle="vm.listBondTypes(vm.cardData.id)">
                <a href="#" id="single-button" class="pull-right" uib-dropdown-toggle ng-disabled="disabled">
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-xs no-padding" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li ng-repeat="bondType in vm.bondtypes.slice().reverse() | orderBy:'bondTypeName'">
                    <label class="checkbox-inline">
                      <input type="checkbox"
                        value="{{bondType.bondTypeId}}"
                        ng-model="bondTypes.bondTypeId"
                        ng-checked="bondType.isActive"
                        ng-click="vm.addTypetoUser(bondTypes.bondTypeId, vm.cardData.id, bondType.bondTypeId)">
                      {{bondType.bondTypeName}}
                    </label>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel-body">
        <ul class="media-list">
          <li class="media" ng-repeat="user in vm.userList">
            <lb-request-card card-data="user" card-type="vm.profileService.ownProfile ? vm.userList.type : false" splice-user-list="vm.removeItem($index)"></lb-request-card>
          </li>
        </ul>
        <div ng-if="!vm.userList.length">
          {{vm.userListEmptConstant}}
        </div>
      </div>
    </div>
    <!-- /collapsible list -->
  </div>
  <div class="col-lg-3">
  </div>
</div>