<div class="row">
	<div class="col-md-3">
		<div class="border-top-info">
			<div class="text-center">
				<h6 class="text-semibold no-margin">Function(s)</h6>
				<p class="content-group-sm text-muted">Create or Edit Functions</p>
			</div>
			<div class="input-group full-width form-group">
				<div ng-form="myForm">
					<div class="input-group">
						<input type="text" ng-model="vm.functionName" class="form-control" required placeholder="Enter Function to add">
						<div class="input-group-btn">
							<button type="button" class="btn btn-default btn-icon" ng-click="vm.addFunction()" ng-disabled="myForm.$invalid">+</button>
						</div>
					</div>
				</div>
			</div>
			<ul class="dropdown-menu" uib-collapse="vm.navbarCollapsed" style="display: block; position: static; width: 100%; margin-top: 0; float: none;">
				<li ng-repeat="fn in vm.functionsList" ui-sref-active="active" >
					<a href="javascript:;" ui-sref="corporate.structure.function.department({ fid: fn.id })">{{fn.name}}</a>
					<div class="navbar-right lb-action-drop">
						<ul class="nav navbar-nav">
							<li uib-dropdown>
								<a href="javascript:;" id="setting-btn" uib-dropdown-toggle><i class="icon-more"></i></a>
								<ul class="dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="setting-btn">
									<li><a href="javascript:;" ng-click="vm.editFunc($index)"><i class="icon-pencil"></i> Edit</a></li>
									<li><a href="javascript:;" ng-click="vm.viewFunctionUsers($index)"><i class="icon-user"></i> Users</a></li>
									<li>
										<a href="javascript:;" ng-really-message="Are you sure you want to delete?" lb-util-confirm-modal confirm-action="vm.removeFunc($index)"><i class="icon-trash"></i> Remove</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div ui-view></div>
</div>