<div>
  <div class="{{hideRepeat}}" >
    <div class="repeatsection" ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.fields)">
        <formly-form class="no-padding "
                       fields="fields"
                       model="element"
                       form="form">
        </formly-form>
        <div class="col-xs-2 no-padding mt-5 text-right">
          <a href="javascript:;" 
                  ng-click="addNew()"
                  ng-hide="!$last">
            <i class="text-individual icon-plus3"></i>
          </a>
          <a href="javascript:;" 
                  ng-click="model[options.key].splice($index, 1)"
                  ng-hide="$first">
            <i class="text-danger icon-cross2"></i>
          </a>  
        </div>
    </div>
  </div>
</div>