<!-- Page container -->
<div class="page-container">
  <!-- Page content -->
  <div class="page-content">
    <!-- Main content -->
    <div class="content-wrapper">
      <!-- Content area -->
      <div class="content container mt-20">
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <advance-filter filter-data="vm.peopleList.facets"
                            filters-applied="vm.selectedFilters"
                            request-search="vm.requestSearch(page, query)"></advance-filter>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="mb-10" ng-show="vm.peopleList.totalCount > 0">
              <span>Total results: {{vm.peopleList.totalCount}}</span>
            </div>

            <div class="mb-10">
              <div class="tokenfield display-inline-block"
                  ng-repeat="(facet, values) in vm.selectedFilters"
                  ng-if="values !== undefined && vm.isArray(values)">
                <div class="token bg-primary" ng-repeat="value in values">
                  <span class="token-label">{{::value}}</span>
                  <a class="close" ng-click="vm.removeFacet(facet, value)">×</a>
                </div>
              </div>
            </div>

            <lb-user-card ng-repeat="people in vm.peopleList.results" card-data="people"></lb-user-card>

            <!-- Show empty list message -->
            <div class="text-center" ng-show="vm.peopleList.results.length === 0">
              No records found matching your search criteria
            </div>

            <!-- Pagination -->
            <div class="text-center bootpag-default" ng-if="vm.peopleList.totalCount > 10">
              <ul uib-pagination
                  max-size="5"
                  total-items="vm.peopleList.totalCount"
                  ng-model="vm.currentPage"
                  ng-change="vm.requestSearch()"></ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /content area -->
    </div>
    <!-- /main content -->
  </div>
  <!-- /page content -->
</div>
<!-- /page container -->
