<div>
  <!-- view -->
  <div class="mb-10" id="personal-profile">
    <div class="row row-min" ng-if="!vm.isEditable">
      <div class="col-md-12">
        <div class="panel panel-white personal-info">
          <h4>
            Personal Information
            <a ng-if="vm.profileService.ownProfile"  class="pull-right" ng-click="vm.editForm()">
              <i class=" mr-10 icon-pencil"></i>
            </a>
          </h4>
          <ul class="list-condensed list-unstyled">
            <li ng-if="vm.content.website">
              <span class="mr-10 icon-sphere"></span>
              <a lb-href="{{vm.content.website}}" lb-util-anchor target="blank">
                {{vm.content.website}}
              </a>
            </li>
            <li ng-if="vm.content.address">
              <span class="mr-10 icon-location4"></span>
              <div class="address-field">{{vm.content.address}}</div>
            </li>
            <li ng-if="vm.content.postalCode">
              <span class="mr-10 icon-clipboard2"></span> {{vm.content.postalCode}}
            </li>
            <li ng-if="vm.content.email">
              <span class="mr-10 icon-mail5"></span> <a href="mailto:{{vm.content.email}}">{{vm.content.email}}</a>
            </li>
            <li ng-if="vm.content.gender != null">
              <span class="mr-10 icon-man-woman"></span> {{(vm.content.gender == 0) ? 'Male': 'Female'}}
            </li>
            <li ng-if="vm.content.birthdate">
              <span class="mr-10 icon-gift"></span> {{vm.content.birthdate | date:"d/MMM/yyyy"}}
            </li>
            <li ng-if="vm.content.nationality">
              <span class="mr-10 icon-flag3"></span>{{vm.nationalitiesObj[vm.content.nationality]}} 
            </li>
            <li ng-if="vm.content.residency">
              <span class="mr-10  icon-earth"></span> {{vm.content.residency}}
            </li>
            <li ng-if="vm.content.homeTown">
              <span class="mr-10  icon-home2"></span> {{vm.content.homeTown}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-white" ng-if="vm.isEditable">
      <div class="panel-body">
        <form name="vm.form" novalidate>
          <formly-form model="vm.model" fields="vm.fields" form="vm.form" options="vm.options" >
          </formly-form>
          <div class="row">
            <div class="col-md-12 text-right">
              <button ng-click="vm.updateProfileInfo()" type="submit" class="btn btn-primary btn-xs submit-button">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
              <button ng-click="vm.reset()" class="btn btn-primary btn-xs submit-button">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
