<div class="modal-header bg-primary">
    <h2 class="panel-title">Upload your Profile Picture</h2>
</div>
<form>
    <div class="modal-body ">
        <div class="row" ng-if="!vm.src">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="file-uploader">
                    <div class="plupload_wrapper plupload_scroll">
                        <div class="plupload_container">
                            <div class="plupload">
                                <div class="plupload_content">
                                    <ul class="plupload_filelist">
                                        <li class="plupload_droptext upload-photo" ng-model="vm.src" ngf-select="vm.uploadImage($files)"  accept="image/jpeg">Upload Photo</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
            <!-- <div class="col-md-6">
                <div class="file-uploader">
                    <div class="plupload_wrapper plupload_scroll">
                        <div class="plupload_container">
                            <div class="plupload">
                                <div class="plupload_content">
                                    <ul class="plupload_filelist">
                                        <li class="plupload_droptext take-photo" ng-model="vm.src" ngf-capture="'camera'" ngf-select="vm.uploadImage($files)" ngf-accept="'image/jpeg'" ngf-max-size="5MB">Take photo.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <lh-croppie
                    src="vm.src"
                    ng-show="vm.src"
                    ng-model="vm.croppedImage"
                    config="vm.config"
                    set-croppie-url="vm.setCroppieUrl"
                    photo-type="'profilePicture'">
                </lh-croppie>
            </div>
        </div>
        <div class="page-title" ng-if="vm.profilePictures.length > 0 && !vm.src" >
            <h4><span class="text-semibold">Profile Picture</span> - Suggested</h4>
        </div>
        <div class="row" ng-if="!vm.src">
            <form novalidate name="photoCollectionForm">
              <div class="col-md-2" ng-repeat="profilePicture in vm.profilePictures | limitTo:6">
                  <div class="thumbnail lb-thumbnail" ng-class="{'lb-thumbnail--checked': vm.prevPhoto === profilePicture.id}">
                      <div class="thumb">
                        <label for="photo-{{$index}}" class="no-margin">
                          <input id="photo-{{$index}}" class="hidden" type="radio" name="photo" ng-value="profilePicture.id" ng-model="vm.prevPhoto">
                          <lb-image src="{{profilePicture.key}}" img-type="p" width="300" height="300"></lb-image>
                        </label>
                      </div>
                  </div>
              </div>
            </form>
        </div>
        <div class="row" ng-if="vm.profilePictures.length > 6 && !vm.src">
            <div class="col-md-6">
                <a class="btn btn-primary" ui-sref="personal.profile.gallery.profilepic" ng-click="vm.cancel()">View All</a>   
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-6" ng-if="vm.src">
                <select class="form-control input-s">
                    <option>Select Temporary Profile</option>
                    <option value="One Hour">One Hour</option>
                    <option value="One Week">One Week</option>
                    <option value="One Month">One Month</option>
                </select>
            </div>
            <div class="cold-md-6">
                <button class="btn btn-primary" type="submit" ng-click="vm.prevPhoto ? vm.setAsProfilePic(vm.prevPhoto) : vm.saveImage()" ng-disabled="!vm.isPhotoUploaded && !vm.prevPhoto">Save</button>
                <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
            </div>
        </div>
    </div>
</form>
