<div uib-dropdown is-open="privacy.isopen" class="display-inline-block">
 <button type="button" class="btn btn-default btn-xs" 
          uib-dropdown-toggle 
          tooltip-placement="top" 
          uib-tooltip="{{vm.selectedExpPrivacy.text}}" >
       <i ng-class="vm.selectedExpPrivacy.icon"></i>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu">
    <li role="menuitem" ng-repeat="sectionPrivacy in vm.sectionPrivacyOpts" ng-click="vm.changeSectionPrivacy(sectionPrivacy)">
      <a>
        <i class="mr-5" ng-class="sectionPrivacy.icon"></i>
        {{sectionPrivacy.name }}
      </a>
    </li>
  </ul>
</div>