<div uib-dropdown is-open="privacy.isopen">
  <button type="button" class="btn btn-default btn-xs " uib-dropdown-toggle tooltip-placement="right" uib-tooltip="{{sectionPrivacyOpts[currentSelected].text}}" >
       <i ng-class="sectionPrivacyOpts[currentSelected].icon"></i>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu">
    <li role="menuitem" ng-repeat="sectionPrivacy in sectionPrivacyOpts" ng-click="changeSectionPrivacy(sectionPrivacy)">
      <a>
        <i class="mr-5" ng-class="sectionPrivacy.icon"></i>
        {{sectionPrivacy.text }}
      </a>
    </li>
  </ul>
</div>