<div>
  <script type="text/ng-template" id="tag-template">
    <span class="tag label label-info">
      <lb-image src="{{::data.image}}" width="40" height="40" ng-if="data.image"></lb-image>
      {{$getDisplayText()}}
      <span data-role="remove"  ng-click="$removeTag()"></span>
    </span>
  </script>
  <script type="text/ng-template" id="autocomplete-template">
    <div class="autocomplete-template">
      <div class="left-panel"  ng-if="data.image">
        <lb-image src="{{::data.image}}" width="40" height="40"></lb-image>
      </div>
      <div class="right-panel">
        <span ng-bind-html="$highlight($getDisplayText())"></span>
      </div>
    </div>
  </script>
  <div class="row row-min position-relative">
    <div class="sidebar-xs" ng-show="!vm.aboutLoading" >
      <div class="sidebar-main sidebar-default" sticky offset="40">
        <div class="panel no-margin-bottom sidebar-content">
          <!-- Main navigation -->
          <div class="sidebar-category sidebar-category-visible">

            <div class="category-content no-padding">
              <ul class="navigation navigation-main navigation-accordion">
                <!-- Main -->
                <li class="navigation-header">
                  <span>Main</span> <i class="icon-menu" title="" data-original-title="Main pages"></i>
                </li>
                <li offset="100" du-scrollspy="{{section.id}}" ng-repeat="section in vm.aboutSections" class="border-bottom" ng-if="section.isActive">
                  <a class="no-margin-left" ng-href="{{(section.isActive) ? '#'+section.id : 'javascript:;'}}" du-smooth-scroll>
                    <i class="{{section.icon}} position-left"></i> <span>{{section.name}}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /main navigation -->
        </div>
      </div>
    </div>
    <div class="col-md-12 about-section">
      <div ng-show="vm.aboutLoading" class="row row-min h-300">
        <img src="assets/images/lb/loading-panel.gif" alt="">
      </div>
      <div class="row row-min"  ng-show="!vm.aboutLoading" >
        <div class="col-md-6">

          <!-- Phone -->
          <contactinfo id="contactinfo" content="vm.user.phones" hasdata="vm.aboutSections[13].isActive" ng-if="(vm.aboutSections[13].isActive && !vm.ownProfile) || vm.ownProfile"></contactinfo>
          <!-- /Phone -->

          <!-- Experience -->
          <experience id="experience" content="vm.experiences" hasdata="vm.aboutSections[6].isActive" ng-if="(vm.aboutSections[6].isActive && !vm.ownProfile) || vm.ownProfile"></experience>
          <!-- /Experience -->

          <!-- College -->
          <education id="education" content="vm.colleges" hasdata="vm.aboutSections[2].isActive" ng-if="(vm.aboutSections[2].isActive && !vm.ownProfile) || vm.ownProfile"></education>
          <!-- /College -->
          <!-- Education -->
          <school id="school" content="vm.schools" hasdata="vm.aboutSections[3].isActive"  ng-if="vm.ownProfile || (vm.aboutSections[3].isActive && !vm.ownProfile) "></school>
          <!-- /Education -->
          <!-- Skills -->
          <skills id="skills" content="vm.skills" hasdata="vm.aboutSections[4].isActive" ng-show="vm.ownProfile || (vm.aboutSections[4].isActive && !vm.ownProfile)"></skills> 
          <!-- /Skills -->

          <!-- Language -->
          <language id="language" content="vm.languages" hasdata="vm.aboutSections[5].isActive" ng-if="(vm.aboutSections[5].isActive && !vm.ownProfile) || vm.ownProfile"></language>
          <!-- /Language -->

          <!-- Publication Presentation -->
          <publication id="publication" content="vm.publications" hasdata="vm.aboutSections[12].isActive" ng-if="(vm.aboutSections[12].isActive && !vm.ownProfile) || vm.ownProfile"></publication>
          <!-- /Publication Presentation -->

        </div>
        <div class="col-md-6">
          <div class="row row-min">
            <div class="col-sm-6">
              <!-- Profile information -->
              <personal-profile id="personal-profile" content="vm.user" hasdata="vm.aboutSections[0].isActive" ng-if="(vm.aboutSections[0].isActive && !vm.ownProfile) || vm.ownProfile"></personal-profile>
              <!-- /Profile information -->
              <!-- Why Me -->
              <why-me id="why-me" content="vm.user" ng-if="(vm.user.whyMe && !vm.ownProfile) || vm.ownProfile" hasdata="vm.aboutSections[1].isActive"></why-me>
              <!-- /Why Me -->

              <!-- Awards Honors -->
              <awards-honor id="award-honors" content="vm.awards" hasdata="vm.aboutSections[7].isActive" ng-if="(vm.aboutSections[7].isActive && !vm.ownProfile) || vm.ownProfile"></awards-honor>
              <!-- /Awards Honors -->

              <!-- Volunteering Experience -->
              <volunteering-experience id="volunteering-experience" content="vm.volunteers" hasdata="vm.aboutSections[9].isActive" ng-if="(vm.aboutSections[9].isActive && !vm.ownProfile) || vm.ownProfile"> </volunteering-experience>
              <!-- /Volunteering Experience -->


              <!-- <div class="panel recommendations-box bg-green">
                <div class="panel-body text-center">
                  <h5 class="text-semibold">Recommendations</h5>
                  <q class="mb-15">Ouch found swore much dear conductively hid submissively hatchet vexed far inanimately alongside candidly much and jeez</q>
                  <div class="media">
                    <div class="media-left">
                      <a href="javascript:;" data-popup="lightbox">
                        <img src="assets/images/dummy/users/face6.jpg" class="img-circle img-lg" alt="">
                      </a>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">James Alexander</h6>
                      <span>Lead developer</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel recommendations-box bg-primary">
                <div class="panel-body text-center">
                  <h5 class="text-semibold">Recommendations</h5>
                  <q class="mb-15">Ouch found swore much dear conductively hid submissively hatchet vexed far inanimately alongside candidly much and jeez</q>
                  <div class="media">
                    <div class="media-left">
                      <a href="javascript:;" data-popup="lightbox">
                        <img src="assets/images/dummy/users/face6.jpg" class="img-circle img-lg" alt="">
                      </a>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading">James Alexander</h6>
                      <span>Lead developer</span>
                    </div>
                  </div>
                </div>
              </div> -->

            </div>

            <div class="col-sm-6">

              <!--Companies to Follow-->
              <!-- <div class="panel panel-flat mb-10">
                <div class="panel-heading pt-10">
                  <h6 class="panel-title">Companies to follow</h6>
                  <div class="heading-elements">
                    <a href="javascript:;" ng-click="isCollapsed = !isCollapsed">
                      <i class="icon-arrow-down32 ml-5"></i>
                    </a>
                  </div>
                </div>
                <ul class="media-list media-list-linked pb-5">
                  <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9120256925487856638' })" class="media-link">
                      <div class="media-left"><img src="assets/images/brands/adwords.png" class="img-circle" alt=""></div>
                      <div class="media-body">
                        <span class="media-heading text-semibold">Google Inc</span>
                        <span class="media-annotation">Android/Search Engine</span>
                      </div>
                      <div class="media-right media-middle">
                      </div>
                    </a>
                  </li>
                  <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9117256671662439232' })" class="media-link">
                      <div class="media-left"><img src="assets/images/brands/dribbble.png" class="img-circle" alt=""></div>
                      <div class="media-body">
                        <div class="media-heading"><span class="text-semibold">Dribbble</span></div>
                        <span class="text-muted">Design Cloudspace</span>
                      </div>
                      <div class="media-right media-middle">
                      </div>
                    </a>
                  </li>
                  <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9117257474846489409' })" class="media-link">
                      <div class="media-left"><img src="assets/images/brands/twitter.png" class="img-circle" alt=""></div>
                      <div class="media-body">
                        <span class="media-heading text-semibold">Twitter Inc.</span>
                        <span class="media-annotation">Social Networking</span>
                      </div>
                      <div class="media-right media-middle">
                      </div>
                    </a>
                  </li>
                </ul>
              </div> -->

              <!-- Like minded people -->
              <!-- <div class="panel panel-flat mb-10">
                <div class="panel-heading pt-10">
                  <h6 class="panel-title">Like minded people</h6>
                  <div class="heading-elements">
                    <a href="javascript:;" ng-click="isCollapsed = !isCollapsed">
                      <i class="icon-arrow-down32 ml-5"></i>
                    </a>
                  </div>
                </div>
                <ul class="media-list media-list-linked pb-5">
                  <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9120256925487856638' })" class="media-link">
                      <div class="media-left"><img src="assets/images/dummy/users/face1.jpg" class="img-circle" alt=""></div>
                      <div class="media-body">
                        <span class="media-heading text-semibold">John Doe</span>
                        <span class="media-annotation">UI/UX expert</span>
                      </div>
                      <div class="media-right media-middle">
                      </div>
                    </a>
                  </li>
                  <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9117861354940660555' })" class="media-link">
                      <div class="media-left"><img src="assets/images/dummy/users/face2.jpg" class="img-circle" alt=""></div>
                      <div class="media-body">
                        <span class="media-heading text-semibold">Jena Doe</span>
                        <span class="media-annotation">Senior designer</span>
                      </div>
                      <div class="media-right media-middle">
                      </div>
                    </a>
                  </li>
                  <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9123046701639138304' })" class="media-link">
                      <div class="media-left"><img src="assets/images/dummy/users/face3.jpg" class="img-circle" alt=""></div>
                      <div class="media-body">
                        <div class="media-heading"><span class="text-semibold">Raza</span></div>
                        <span class="text-muted">Sales consultant</span>
                      </div>
                      <div class="media-right media-middle">
                      </div>
                    </a>
                  </li>
                  <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9117256671662439232' })" class="media-link">
                      <div class="media-left"><img src="assets/images/dummy/users/face4.jpg" class="img-circle" alt=""></div>
                      <div class="media-body">
                        <div class="media-heading"><span class="text-semibold">William Miles</span></div>
                        <span class="text-muted">SEO expert</span>
                      </div>
                      <div class="media-right media-middle">
                      </div>
                    </a>
                  </li>
                  <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9117257474846489409' })" class="media-link">
                      <div class="media-left"><img src="assets/images/dummy/users/face5.jpg" class="img-circle" alt=""></div>
                      <div class="media-body">
                        <span class="media-heading text-semibold">Stephen Judis</span>
                        <span class="media-annotation">Google</span>
                      </div>
                      <div class="media-right media-middle">
                      </div>
                    </a>
                  </li>
                  <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9123145067622562815' })" class="media-link">
                      <div class="media-left"><img src="assets/images/dummy/users/face6.jpg" class="img-circle" alt=""></div>
                      <div class="media-body">
                        <div class="media-heading"><span class="text-semibold">Waqar</span></div>
                        <span class="text-muted">Sales consultant</span>
                      </div>
                      <div class="media-right media-middle">
                      </div>
                    </a>
                  </li>
                </ul>
              </div> -->

              <!--People also viewed-->
              <!-- <div class="panel panel-flat mb-10">
                <div class="panel-heading pt-10">
                  <h6 class="panel-title">People also viewed</h6>
                </div>
                <ul class="media-list media-list-linked pb-5">
                  <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9120256925487856638' })" class="media-link">
                      <div class="media-left"><img src="assets/images/dummy/users/face1.jpg" class="img-circle" alt=""></div>
                      <div class="media-body">
                        <span class="media-heading text-semibold">John Doe</span>
                        <span class="media-annotation">UI/UX expert</span>
                      </div>
                      <div class="media-right media-middle">
                      </div>
                    </a>
                  </li>
                  <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9117861354940660555' })" class="media-link">
                      <div class="media-left"><img src="assets/images/dummy/users/face2.jpg" class="img-circle" alt=""></div>
                      <div class="media-body">
                        <span class="media-heading text-semibold">Jena Doe</span>
                        <span class="media-annotation">Senior designer</span>
                      </div>
                      <div class="media-right media-middle">
                      </div>
                    </a>
                  </li>
                  <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9123046701639138304' })" class="media-link">
                      <div class="media-left"><img src="assets/images/dummy/users/face3.jpg" class="img-circle" alt=""></div>
                      <div class="media-body">
                        <div class="media-heading"><span class="text-semibold">Raza</span></div>
                        <span class="text-muted">Sales consultant</span>
                      </div>
                      <div class="media-right media-middle">
                      </div>
                    </a>
                  </li>
                </ul>
              </div> -->

              <!-- License Certification -->
              <license-certification id="license-certification" content="vm.certifications" hasdata="vm.aboutSections[10].isActive" ng-if="(vm.aboutSections[10].isActive && !vm.ownProfile) || vm.ownProfile"></license-certification>
              <!-- /License Certification -->

              <!-- Affiliation Membership -->
              <affiliations-memberships id="affiliations-memberships" content="vm.affiliations" hasdata="vm.aboutSections[11].isActive" ng-if="(vm.aboutSections[11].isActive && !vm.ownProfile) || vm.ownProfile"></affiliations-memberships>
              <!-- /Affiliation Membership -->

              <!-- Training Experience -->
              <training-experience id="training-experience" content="vm.training" hasdata="vm.aboutSections[8].isActive" ng-if="(vm.aboutSections[8].isActive && !vm.ownProfile) || vm.ownProfile"></training-experience>
              <!-- /Training Experience -->
            </div>

          </div>
        </div>
      </div>
      <!--poeples to follow-->
      <!-- <h4>Peoples to follow</h4>
      <div class="row recommendations">
        <div class="col-sm-3 col-xs-6">
          <div class="thumbnail no-padding">
            <div class="thumb">
              <img src="assets/images/dummy/users/face2.jpg" alt="">
              <div class="caption">
                <h6 class="text-semibold no-margin">James Alexander <small class="display-block">Lead developer</small></h6>
              </div>
            </div>
            <a href="javascript:;" class="lu-action btn btn-primary btn-xs">Bond</a>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="thumbnail no-padding">
            <div class="thumb">
              <img src="assets/images/dummy/users/face3.jpg" alt="">
              <div class="caption">
                <h6 class="text-semibold no-margin">James Alexander <small class="display-block">Lead developer</small></h6>
              </div>
            </div>
            <a href="javascript:;" class="lu-action btn btn-primary btn-xs">Bond</a>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="thumbnail no-padding">
            <div class="thumb">
              <img src="assets/images/dummy/users/face4.jpg" alt="">
              <div class="caption text-center">
                <h6 class="text-semibold no-margin">James Alexander <small class="display-block">Lead developer</small></h6>
              </div>
            </div>
            <a href="javascript:;" class="lu-action btn btn-primary btn-xs">Bond</a>
          </div>
        </div>
      </div> -->
      <!--peoples to follow-->
    </div>
  </div>
</div>
