<div class="customized">
  <div class="panel panel-white" id="affiliations-memberships">
    <div class="panel-heading lb-panel--cover" style="background-image: url('./assets/images/dummy/covers/cover6.jpg');">
      <h4 class="panel-title"><i class="icon-credit-card position-left"></i> Affiliations</h4>
    </div>
    <div class="panel-body border-top-danger" ng-if="vm.hasdata">
      <div ng-init="fields = vm.copyFields(vm.fields)">
        <div class="lb-panel--view" ng-repeat="aff in vm.content track by $index">
          <div ng-if="!aff.isEditable">
            <div class="panel-heading no-padding">
              <div class="lb-panel--description">
                <h5 class="panel-title">
                  <span class="main-title text-semibold">{{aff.data.role}}</span>
                  <span class="issued" ng-if="aff.data.organization">
                    at {{aff.data.organization}}
                  </span>
                  <span class="issued" ng-if="aff.data.fromDate">
                    {{aff.data.fromDate | date:"MMM/yyyy"}} - {{ (aff.data.toDate) ? aff.data.toDate :  'Present' | date:"MMM/yyyy"}}
                  </span>
                </h5>
              </div>
              <div class="lb-panel--actions">
                <a ng-if="vm.profileService.ownProfile && !vm.disabledAddMode" class="lb-sec-delete" ng-really-message="Are you sure you want to delete?" lb-util-confirm-modal confirm-action="vm.deleteAffiliation($index)"><i class="icon-bin"></i></a>
                <a ng-if="vm.profileService.ownProfile && !vm.disabledAddMode" ng-click="vm.editForm(aff)">
                  <i class=" mr-5 icon-pencil"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="panel-body no-padding row pb-15" ng-if="aff.isEditable">
            <form ng-submit="vm.onSubmit(aff)" name="vm.form" novalidate lb-util-confirm-on-exit form-state="vm.form">
              <formly-form model="aff.data" fields="vm.fields" options="vm.options" form="vm.form">
              </formly-form>
              <div class="row">
                <div class="text-right mt-10 col-md-12">
                  <button type="button" class="btn btn-danger text-white btn-xs" ng-really-message="Are you sure you want to delete?" lb-util-confirm-modal confirm-action="vm.deleteAffiliation($index)" ng-if="!aff.addInProcess">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                  <button ng-click="vm.updateAffiliation($index)" class="btn btn-primary btn-xs submit-button" type="submit">
                    <span class="glyphicon glyphicon-ok"></span>
                  </button>
                  <button ng-click="vm.reset($index)" class="btn btn-primary btn-xs ">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body lb-panel--placeholder border-top-danger" ng-if="!vm.hasdata">
      <i class="icon-credit-card"></i> <span>Add Affiliation</span>
    </div>
    <div class="panel-footer" ng-if="vm.profileService.ownProfile" >
      <button type="button" ng-click="vm.addAffiliationModel()" ng-disabled="vm.disabledAddMode" class="btn bg-primary pull-right btn-xs heading-btn">Add</button>
    </div>
  </div>
</div>
