<div>
    <div class="col-md-3"></div>

    <div class="col-md-6">
        <!-- Share your thoughts -->
        <create-post ng-if="vm.profileService.isBonded || vm.profileService.ownProfile" post-list="vm.wallPosts" share-method="vm.shareMethod(data)"></create-post>
        <!-- /share your thoughts -->

        <!-- Timeline -->
        <!-- filter by last entered shown first -->
        <div ng-repeat="wallPost in vm.wallPosts">
          <user-post post-data="wallPost"></user-post>
        </div>
        <!-- /timeline -->

        <button class="btn btn-link" ng-click="::vm.loadMore()">Show more</button>
    </div>

    <div class="col-lg-3">
        <!-- Navigation -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">Navigation</h6>
                <div class="heading-elements">
                    <a href="#" class="heading-text">See all &rarr;</a>
                </div>
            </div>
            <div class="list-group no-border no-padding-top">
                <a href="#" class="list-group-item"><i class="icon-user"></i> My profile</a>
                <a href="#" class="list-group-item"><i class="icon-cash3"></i> Balance</a>
                <a href="#" class="list-group-item"><i class="icon-tree7"></i> Connections <span class="badge bg-danger pull-right">29</span></a>
                <a href="#" class="list-group-item"><i class="icon-users"></i> Friends</a>
                <div class="list-group-divider"></div>
                <a href="#" class="list-group-item"><i class="icon-calendar3"></i> Events <span class="badge bg-teal-400 pull-right">48</span></a>
                <a href="#" class="list-group-item"><i class="icon-cog3"></i> Account settings</a>
            </div>
        </div>
        <!-- /navigation -->
        <!-- Connections -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">Latest connections</h6>
                <div class="heading-elements">
                    <span class="badge badge-success heading-text">+32</span>
                </div>
            </div>
            <ul class="media-list media-list-linked pb-5">
                <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9120256925487856638' })" class="media-link">
                        <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
                        <div class="media-body">
                            <span class="media-heading text-semibold">John Doe</span>
                            <span class="media-annotation">UI/UX expert</span>
                        </div>
                        <div class="media-right media-middle">
                            <span class="status-mark bg-success"></span>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9117861354940660555' })" class="media-link">
                        <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
                        <div class="media-body">
                            <span class="media-heading text-semibold">Jena Doe</span>
                            <span class="media-annotation">Senior designer</span>
                        </div>
                        <div class="media-right media-middle">
                            <span class="status-mark bg-danger"></span>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9123046701639138304' })" class="media-link">
                        <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
                        <div class="media-body">
                            <div class="media-heading"><span class="text-semibold">Raza</span></div>
                            <span class="text-muted">Sales consultant</span>
                        </div>
                        <div class="media-right media-middle">
                            <span class="status-mark bg-grey-300"></span>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9117256671662439232' })" class="media-link">
                        <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
                        <div class="media-body">
                            <div class="media-heading"><span class="text-semibold">William Miles</span></div>
                            <span class="text-muted">SEO expert</span>
                        </div>
                        <div class="media-right media-middle">
                            <span class="status-mark bg-success"></span>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9117257474846489409' })" class="media-link">
                        <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
                        <div class="media-body">
                            <span class="media-heading text-semibold">Stephen Judis</span>
                            <span class="media-annotation">Google</span>
                        </div>
                        <div class="media-right media-middle">
                            <span class="status-mark bg-success"></span>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9123145067622562815' })" class="media-link">
                        <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle" alt=""></div>
                        <div class="media-body">
                            <div class="media-heading"><span class="text-semibold">Waqar</span></div>
                            <span class="text-muted">Sales consultant</span>
                        </div>
                        <div class="media-right media-middle">
                            <span class="status-mark bg-grey-300"></span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /connections -->
    </div>
</div>
