<div class="row row-min">

    <div class="col-md-8 mb-20">
        <!-- Share your thoughts -->
        <create-post ng-if="vm.profileService.isBonded || vm.profileService.ownProfile"
                    post-update="vm.postUpdate(data)"
                    share-method="vm.shareMethod(data, type)"
                    can-change-privacy="vm.profileService.ownProfile"></create-post>
        <!-- /share your thoughts -->

        <!-- Timeline -->
        <!-- filter by last entered shown first -->
        <div ng-repeat="wallPost in vm.wallPosts">
          <user-post post-data="wallPost"></user-post>
        </div>
        <!-- /timeline -->

        <div ng-show="vm.postsLoading" class="text-center">
          <i class="icon-spinner2 spinner"></i>
          Loading Posts
        </div>
        <div ng-show="!vm.postAvailable" class="text-center">No more posts.</div>
        <lb-infinite-scroll ng-if="vm.postAvailable && !vm.postsLoading" call-on-show="::vm.loadMore()"></lb-infinite-scroll>
    </div>

    <div class="col-md-3">
        <!-- Connections -->
        <!-- <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">Latest connections</h6>
                <div class="heading-elements">
                    <span class="badge badge-success heading-text">+32</span>
                </div>
            </div>
            <ul class="media-list media-list-linked pb-5">
                <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9072944677396675581' })" class="media-link">
                        <div class="media-left"><img src="assets/images/dummy/users/face1.jpg" class="img-circle" alt=""></div>
                        <div class="media-body">
                            <span class="media-heading text-semibold">Omar Tarabichi</span>
                            <span class="media-annotation">UI/UX expert</span>
                        </div>
                        <div class="media-right media-middle">
                            <span class="status-mark bg-success"></span>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9072942475949112313' })" class="media-link">
                        <div class="media-left"><img src="assets/images/dummy/users/face4.jpg" class="img-circle" alt=""></div>
                        <div class="media-body">
                            <div class="media-heading"><span class="text-semibold">Raza Zaidi</span></div>
                            <span class="text-muted">SEO expert</span>
                        </div>
                        <div class="media-right media-middle">
                            <span class="status-mark bg-success"></span>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9072485241448299519' })" class="media-link">
                        <div class="media-left"><img src="assets/images/dummy/users/face5.jpg" class="img-circle" alt=""></div>
                        <div class="media-body">
                            <span class="media-heading text-semibold">Ahmerr Khan</span>
                            <span class="media-annotation">Google</span>
                        </div>
                        <div class="media-right media-middle">
                            <span class="status-mark bg-success"></span>
                        </div>
                    </a>
                </li>
                <li class="media">
                    <a ui-sref="personal.profile.posts({ uid: '-9072946631598406656' })" class="media-link">
                        <div class="media-left"><img src="assets/images/dummy/users/face6.jpg" class="img-circle" alt=""></div>
                        <div class="media-body">
                            <div class="media-heading"><span class="text-semibold">Waqar</span></div>
                            <span class="text-muted">Sales consultant</span>
                        </div>
                        <div class="media-right media-middle">
                            <span class="status-mark bg-grey-300"></span>
                        </div>
                    </a>
                </li>
            </ul>
        </div> -->
        <!-- /connections -->
    </div>
</div>
