<div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-white">
        <div class="panel-heading">
          <h6 class="panel-title"><a href="javascript:;">John Doe </a></h6>
          <div class="heading-elements">
            <ul class="icons-list">
              <li  uib-dropdown>
                <a href="#" uib-dropdown-toggle><i class="icon-gear"></i></a>
                <ul class="dropdown-menu dropdown-menu-xs dropdown-menu-right" uib-dropdown-menu>
                  <li><a href="javascript:;">Block User</a></li>
                  <li><a href="javascript:;">Go Offline</a></li>
                  <li class="divider"></li>
                  <li><a href="javascript:;">Delete Chat</a></li>
                </ul>
              </li>
              <li><a href="#"><i class="icon-cross3"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="panel-body no-padding">
          <ul class="media-list chat-list pl-10">
            <li class="media date-step">
              <span>Monday, Feb 10</span>
            </li>
            <li class="media" ng-class="(chat.id == 2 || chat.id == 4 || chat.id == 6 || chat.id == 8)? 'reversed': ''" ng-repeat="chat in vm.chatData">
              <div class="media-left"  ng-if="chat.id == 1 || chat.id == 3 || chat.id == 5 || chat.id == 7 || chat.id == 9">
                <a href="assets/images/placeholder.jpg"  tooltip-placement="top" uib-tooltip="{{chat.userName}}">
                  <img src="{{chat.userImg}}" class="img-circle" alt="">
                </a>
              </div>
              <div class="media-body">
                <div class="media-content">{{chat.message}}</div>
                <span class="media-annotation display-block mt-10">Mon, 10:56 am <a href="javascript:;"><i class="icon-pin-alt position-right text-muted"></i></a></span>
              </div>

            </li>
            <li class="media reversed">
              <div class="media-body">
                <div class="media-content"><i class="icon-menu display-block"></i></div>
              </div>
              <div class="media-right">
                <a href="assets/images/placeholder.jpg">
                  <img src="assets/images/placeholder.jpg" class="img-circle" alt="">
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="input-group">
          <input type="text" class="form-control no-border-radius no-border-left" placeholder="Write your message here...">
          <div class="input-group-btn">
            <button type="button" class="btn no-border-radius no-border-right btn-default btn-icon"><i class="icon-paperplane"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- Timeline -->
      <div class="timeline timeline-center">
        <div class="timeline-container">
          <!-- Sales stats -->
          <div class="timeline-date text-muted">Today</div>
          <div class="timeline-row post-odd">
            <div class="timeline-icon">
              <a href="#"><img src="assets/images/dummy/users/face14.jpg" alt=""></a>
            </div>
            <div class="timeline-time">
              <a href="#">Sophie</a> added a new task
              <span class="text-muted">31st May 2016</span>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="panel border-left-lg border-left-primary">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                        <p class="mb-15">You has been bonded with <a href="javascript:;">Samoa Joe</a> and 3 others.</p>
                        <a href="#"><img src="assets/images/dummy/users/face1.jpg" class="img-circle img-xs" alt=""></a>
                        <a href="#"><img src="assets/images/dummy/users/face2.jpg" class="img-circle img-xs" alt=""></a>
                        <a href="#"><img src="assets/images/dummy/users/face3.jpg" class="img-circle img-xs" alt=""></a>
                        <a href="#" class="text-default">&nbsp;<i class="icon-plus22"></i></a>
                        <div class="pull-right">
                          <span class="label label-primary">5 mins ago</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel border-left-lg border-left-orange">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="pull-left">You liked <a href="javascript:;">Waqar Ali's</a> <a href="javascript:;">Post.</a></div>
                        <div class="pull-right">
                          <span class="label label-warning">5 mins ago</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline-date text-muted">Yesterday</div>
          <div class="timeline-row post-even">
            <div class="timeline-icon">
              <a href="#"><img src="assets/images/dummy/users/face14.jpg" alt=""></a>
            </div>
            <div class="timeline-time">
              <a href="#">Sophie</a> added a new task
              <span class="text-muted">1st June 2016</span>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="panel border-left-lg border-left-green">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="pull-left">You have joined <a href="javascript:;">Pro Pakistani</a> group.</div>
                        <div class="pull-right">
                          <span class="label label-success">09:45 PM</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel border-left-lg border-left-primary">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="pull-left">
                          You have posted a <a href="javascript:;">photo</a> on <a href="javascript:;">Chloe Grace Moretz's</a> timeline.
                        </div>
                        <div class="pull-right">
                          <span class="label label-info">12:35 PM</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline-date text-muted">2 Days ago</div>
          <div class="timeline-row post-odd">
            <div class="timeline-icon">
              <a href="#"><img src="assets/images/dummy/users/face14.jpg" alt=""></a>
            </div>
            <div class="timeline-time">
              <a href="#">Sophie</a> added a new task
              <span class="text-muted">25th Jan 2016</span>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="panel border-left-lg border-left-primary">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                        <p class="mb-15">You has attended <a href="javascript:;">ng-conf</a> event with <a href="javascript:;">Nathan McCullum</a> and 3 others.</p>
                        <a href="#"><img src="assets/images/dummy/users/face1.jpg" class="img-circle img-xs" alt=""></a>
                        <a href="#"><img src="assets/images/dummy/users/face2.jpg" class="img-circle img-xs" alt=""></a>
                        <a href="#"><img src="assets/images/dummy/users/face3.jpg" class="img-circle img-xs" alt=""></a>
                        <a href="#" class="text-default">&nbsp;<i class="icon-plus22"></i></a>
                        <div class="pull-right">
                          <span class="label label-primary">12:08 PM</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel border-left-lg border-left-green">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="pull-left">
                          You have posted a <a href="javascript:;">photo</a> on <a href="javascript:;">Chloe Grace Moretz's</a> timeline.
                        </div>
                        <div class="pull-right">
                          <span class="label label-success">05:35 PM</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel border-left-lg border-left-primary">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                        <p class="mb-15">You has been bonded with <a href="javascript:;">Samoa Joe</a> and 3 others.</p>
                        <a href="#"><img src="assets/images/dummy/users/face1.jpg" class="img-circle img-xs" alt=""></a>
                        <a href="#"><img src="assets/images/dummy/users/face2.jpg" class="img-circle img-xs" alt=""></a>
                        <a href="#"><img src="assets/images/dummy/users/face3.jpg" class="img-circle img-xs" alt=""></a>
                        <a href="#" class="text-default">&nbsp;<i class="icon-plus22"></i></a>
                        <div class="pull-right">
                          <span class="label label-primary">5 mins ago</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel border-left-lg border-left-orange">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="pull-left">You liked <a href="javascript:;">Waqar Ali's</a> <a href="javascript:;">Post.</a></div>
                        <div class="pull-right">
                          <span class="label label-warning">5 mins ago</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="timeline-row">
            <div class="timeline-icon">
              <a href="#"><img src="assets/images/placeholder.jpg" alt=""></a>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="panel border-left-lg border-left-info timeline-content">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                        <h6 class="no-margin-top"><a href="javascript:;">Yesterday</a></h6>
                        <ul class="media-list media-list-linked media-list-bordered">
                          <li class="media">
                            <div class="media-body pt-10 pb-10">
                              You have joined <a href="#">Pro Pakistani</a> community.
                            </div>
                            <div class="media-right media-middle">
                              <span class="label label-info">25th Jan 2016 - 10:25 PM</span>
                            </div>
                          </li>
                          <li class="media">
                            <div class="media-body pt-10 pb-10">
                              You have posted a <a href="javascript:;">photo</a> on <a href="javascript:;">Chloe Grace Moretz's</a> timeline.
                            </div>
                            <div class="media-right media-middle">
                              <span class="label label-info">25th Jan 2016 - 12:53 PM</span>
                            </div>
                          </li>
                          <li class="media">
                            <div class="media-body pt-10 pb-10">
                              You are bonded with <a href="javascript:;">Emma Watson</a> and <a href="javascript:;">5 others.</a>
                            </div>
                            <div class="media-right media-middle">
                              <span class="label label-info">25th Jan 2016 - 09:22 AM</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline-row">
            <div class="timeline-icon">
              <a href="#"><img src="assets/images/placeholder.jpg" alt=""></a>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="panel border-left-lg border-left-primary timeline-content">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-12">
                        <h6 class="no-margin-top"><a href="javascript:;">2 days ago</a></h6>
                        <ul class="media-list media-list-linked media-list-bordered">
                          <li class="media">
                            <div class="media-body pt-10 pb-10">
                              You liked <a href="#">Waqar Ali's</a> <a href="javascript:;">Post</a>
                            </div>
                            <div class="media-right media-middle">
                              <span class="label label-info">18th Jan 2016 - 05:25 PM</span>
                            </div>
                          </li>
                          <li class="media">
                            <div class="media-body pt-10 pb-10">
                              You have sent bond request to <a href="javascript:;">Roman Reigns</a>
                            </div>
                            <div class="media-right media-middle">
                              <span class="label label-info">17th Jan 2016 - 06:35 PM</span>
                            </div>
                          </li>
                          <li class="media">
                            <div class="media-body pt-10 pb-10">
                              You went to <a href="javascript:;">GITEX TECHNOLOGY WEEK - 2015</a> Event with <a href="javascript:;">Brock Lesner</a> and <a href="javascript:;">2 others.</a>
                            </div>
                            <div class="media-right media-middle">
                              <span class="label label-info">18th Jan 2016 - 12:17 AM</span>
                            </div>
                          </li>
                          <li class="media">
                            <div class="media-body pt-10 pb-10">
                              You went to <a href="javascript:;">MALL OF EMIRATES FOOD FESTIVAL - 2016</a> Event with <a href="javascript:;">Brock Lesner</a> and <a href="javascript:;">2 others.</a>
                            </div>
                            <div class="media-right media-middle">
                              <span class="label label-info">18th Jan 2016 - 08:56 AM</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- /sales stats -->
        </div>
      </div>
      <!-- /timeline -->
    </div>
  </div>
</div>
